click==7.1.2
Flask==1.1.2
luhn==0.2.0
Jinja2==2.11.3
psycopg2==2.8.5 --no-binary psycopg2
python-dateutil==2.8.1
PyYAML==5.4.1
statsd==3.3
itsdangerous==1.1.0
MarkupSafe==1.1.1
six==1.15.0
Werkzeug==1.0.1
marshmallow==2.19.0
webargs==5.5.3
apispec==3.3.1
flask-apispec==0.9.0
kafka-python==2.0.1
numpy==1.19.5
Flask-Caching==1.9.0
redis==3.5.3
